[2019-11-17 20:16] warrenbuckley opened #1 "Ready for use?"
Hello 👋
Is this GitHub action ready for use and if so how do we use it or does it require extra arguments in the actions.yml file.

A readme on the repo homepage would be useful to have please :)

[2019-11-18 04:16] arturcic commented on #1
It's not ready yet, still playing with it, when there will be version 1.0 then it can be used

[2019-11-18 07:42] #1 closed

[2019-11-22 18:22] arturcic opened #3 "Add unit tests"
Add Unit tests, now that we use dependency injection, it should be quite easy

[2019-11-22 18:22] arturcic opened #4 "Finish AzureDevops task"

[2019-11-28 18:22] tobiasdiez opened #6 "Support all GitVersion variables"
Currently, only three of the [GitVersion variables](https://gitversion.readthedocs.io/en/stable/more-info/variables/) are supported. It would be nice if all of them would be accessible via `${{ steps.gitversion.outputs.VARIABLE }}"`

[2019-11-28 18:23] arturcic commented on #6
@tobiasdiez a PR If possible is very welcomed!

[2019-11-28 18:31] tobiasdiez commented on #6
I don't have any experience with github actions, sorry.

[2019-11-28 20:34] gep13 commented on #6
@tobiasdiez currently, the three variables are output here:

https://github.com/GitTools/use-gitversion/blob/6a5567e664577400fdfd9944f043224cc04c36d1/src/main.ts#L67-L69

And the interface for all the other properties are already defined:

https://github.com/GitTools/use-gitversion/blob/6a5567e664577400fdfd9944f043224cc04c36d1/src/interfaces.ts#L60-L90

So I "think" it should be as simple as addin

[2019-11-29 05:48] arturcic commented on #6
@gep13 that is correct

[2019-11-29 09:12] #6 closed

[2019-11-29 09:13] tobiasdiez commented on #6
Thanks a lot!

[2019-11-29 09:15] arturcic commented on #6
I'll publish a new version v0.2.1 that you can start using

[2019-11-29 09:17] arturcic commented on #6
done

[2019-12-07 14:12] bofirial opened #9 "Fetch and Create Reflog don't work for private repositories (Unauthorized)"
I found that the directions as documented don't work for private repositories.

When one creates an action in a private repository following the instructions,  they'll find that the action fails or hangs when it tries to run 'git fetch --tags'.  With an ubuntu action the error reads: 'fatal: could not read Username for 'https://github.com': No such device or address'.  With a windows action the ac

[2019-12-07 14:14] arturcic commented on #9
@bofirial could you send a PR with the suggestion?

[2019-12-07 14:25] bofirial commented on #9
@arturcic No problem! https://github.com/GitTools/actions/pull/10

[2019-12-07 19:34] #9 closed

[2019-12-17 10:14] bernard-arnaud opened #40 "Invalid argument in UseGitVersion VS Task"
Hi,

We're having issues when using the UseGitVersion task on a dotnetcore 3.1 project.
Here are the logs :

[code]

And here's the yaml part of the task :

[code]

[2019-12-25 16:28] coder2000 opened #11 "Setting up GitVersion fails on Ubuntu and Windows"
I receive the following issues when trying to install GitVersion in my build.

![Screenshot from 2019-12-25 10-26-23](https://user-images.githubusercontent.com/27944/71448421-3bcd9200-2701-11ea-8ae9-f71dcec7b4d1.png)
![Screenshot from 2019-12-25 10-26-52](https://user-images.githubusercontent.com/27944/71448422-3f611900-2701-11ea-9a1d-48b0043497d5.png)

[2019-12-26 10:27] casz opened #12 "git branch --create-reflog suggestion fails on master branch"
The suggestion in the readme fails on master branch

[code]

[2019-12-26 11:57] giuliov commented on #11
I solved by moving `actions/setup-dotnet@v1` after GitVersion

[2020-01-09 17:24] giuliov opened #14 "updateAssemblyInfo does not work as expected"
In my build script I set the `updateAssemblyInfo` parameter to `true` but the AssemblyInfo.cs files keep the original value.

Source example:
https://github.com/tfsaggregator/aggregator-cli/blob/d25e1b8284d958c786ac7116f816da7e5fa011f2/.github/workflows/release-to-GitHub.yml#L26-L30

Log
[code]

[2020-01-17 16:29] TabithaLarkin opened #22 "Can't access variables after adding new Azure DevOps GitVersion tasks"
We're using a manually checked in version of GitVersion at the moment, and are looking to migrate to the recently released Azure DevOps tasks.

We have tried adding the following tasks:

[code]

This resulted in the `$(GitVersion.Major)` variable not being found.

We've also tried adding the `/output` variable to the execute task, but something about the syntax is not valid.

[code]
[code]

[2020-01-24 08:53] arturcic commented on #11
@coder2000 currently the github agents have 3.0.100 sdk pre-installed, that's why @giuliov has installed the sdk with the setup-dotnet action. The latest version (5.1.3) of gitversion works on .net core 3.1. So you can use the soltion of @giuliov, or install version 5.1.2 that works on 3.0 or wait till the agents will have the 3.1.100 sdk pre-installed.

[2020-01-24 08:53] #11 closed

[2020-01-24 08:55] arturcic commented on #12
@casz
can you change to
`git fetch --prune --unshallow `
instead and see if it works?

[2020-01-24 08:57] arturcic commented on #4
Closed by 6465152ce9c2229e7ae3b099930893b456246c2d

[2020-01-24 08:57] #4 closed

[2020-01-24 09:13] casz commented on #12
That requires using checkout@v2 right?

[2020-01-24 09:14] arturcic commented on #12
yes, are you willing to send a PR?

[2020-01-24 09:15] casz commented on #12
@arturcic of course!

[2020-01-24 09:31] casz commented on #12
fixed #28

[2020-01-24 09:31] #12 closed

[2020-02-11 12:39] TabithaLarkin commented on #22
@arturcic I updated my code as per the documentation you published for the azure devops, and accessing the variables without the `GitVersion` prefix works as expected.

Working:
[code]

Not Working:
[code]

Is this the expected functionality going forwards?

[2020-02-11 12:42] arturcic commented on #22
Currently the task is running with /output json that we later consume to set the variables so yes. The over variant might work if it's running with /output buildserver, but we do not support that variant as for now. One more think to add, the /output json is also used fot the github version. Trying to keep it as simple as possible, So just use the version without GitVersion

[2020-02-11 12:43] arturcic commented on #22
Any improvements to the documentation is welcomed anyway

[2020-02-11 12:43] #22 closed

[2020-02-16 22:50] robertlarkins opened #38 "Problem using UseGitVersion targetPath parameter"
I'm using the UseGitVersion task in a set of jobs in Azure DevOps. The first job builds the solution, which is then published as an artifact. The subsequent jobs consume this artifact and are used to publish nuget packages. By default UseGitVersion targets the `$(System.DefaultWorkingDirectory) (c:\agent_work\1\s)`, but as the artifact is downloaded into `$(Pipeline.Workspace) (c:\agent_work\1)` U

[2020-02-17 13:36] arturcic commented on #40
@Breederveld , @dnperfors  I think the issue is coming from here https://github.com/GitTools/actions/blob/master/src/core/dotnet-tool.ts#L98, is this correct?

[2020-02-17 14:01] Breederveld commented on #40
@arturcic I think you are right, this looks exactly how I imagined the code would do its thing

[2020-02-17 14:10] arturcic commented on #40
if you can suggest a better implementation, a PR is welcomed

[2020-02-17 18:46] dnperfors commented on #40
@arturcic, is that whole if statement still necessary? When I look for DOTNET_ROOT, I can’t see any references to it (although I didn’t look further than this action repo)

[2020-02-17 18:51] arturcic commented on #40
The DOTNET_ROOT is an environment variable used by dotnet core to resolve the global tool location, in our case Gitversion

[2020-02-18 02:22] Breederveld commented on #40
Created PR https://github.com/GitTools/actions/pull/41

[2020-02-18 10:21] arturcic commented on #40
@bernard-arnaud @dnperfors @nloum can you confirm it's fixed? I f you use the azure pipeline extension please use [this ](https://marketplace.visualstudio.com/items?itemName=gittools.gittools)extension. If you already had it installed in the organization, please remove it before installation as it is caching the older one

[2020-02-18 11:58] dnperfors commented on #40
@arturcic, works for me :)

[2020-02-18 12:00] arturcic commented on #40
ok great, closing the issue. Closed by #41

[2020-02-18 12:00] #40 closed

[2020-02-18 12:07] dnperfors opened #42 "gitversion doesn't work with dotnet core 3.1"
On our project we use dotnet core 3.1, but when running gitversion in our pipeline it fails since it wants 2.1

azurepipeline.yaml
[code]

Output:
[code]

Workaround is to install 2.1 as well, but I'd rather not do that :)

[2020-02-18 12:10] arturcic commented on #42
you you can set an env var to
`DOTNET_ROLL_FORWARD_ON_NO_CANDIDATE_FX: 2`

[2020-02-18 12:20] dnperfors commented on #42
Sorry, I have been messing up some things... Seems to be a incorrect bug... Sorry for the inconvenience...

[2020-02-18 12:20] #42 closed

[2020-02-18 12:50] dnperfors opened #43 "Running gitversion execute task returns an exception in certain situations"
When I run the following azure pipeline, I don't get any errors:
[code]

When I specify the inputs to specify the gitversion.yaml file like this:
[code]
I get the following exception, somehow the value `undefined` or `null` is appended to the command:
[code]

Another related question: Should I specify the `/output buildserver` myself?

[2020-02-18 13:55] dnperfors commented on #43
Looking at the source code, I think the following line causes the issue: https://github.com/GitTools/actions/blob/master/src/tools/gitversion/tool.ts#L83, shouldn't it be conditional?

[2020-02-18 14:18] arturcic commented on #43
I think you're right

[2020-02-18 15:14] dnperfors commented on #43
If output variables are specified, then that would be a good solution as well. I like the json output as a documentation..

[2020-02-18 16:23] dnperfors commented on #42
I actually found out that this only happens when 2.1 is installed previously...

[2020-02-24 05:43] riverar opened #47 "File not found: 'd:\a\_actions\gittools\actions\v0.9.1\dist/github/setup/index.js'"
GitHub Actions workflow contains:

[code]

Output:
[code]

[2020-02-24 05:49] riverar commented on #47
Wrong using line, not sure where I got that from. Should be `uses: gittools/actions/gitversion/setup@v0.9` per docs. Doh!

[2020-02-24 05:49] #47 closed

[2020-03-08 20:05] rducom opened #57 "Value 'json' cannot be parsed as output type, please use 'json' or 'buildserver'"
I'm having a strange exception with the github action : it can't parse the `/output json` parameter.
I no clue why this happens, since the parsing is case insensitive...
Here's the related build log : https://github.com/rducom/ParallelAsync/pull/1/checks?check_run_id=493761482

[code]

[2020-03-08 20:36] arturcic commented on #57
Weird, l'll have a look tomorrow

[2020-03-09 09:40] arturcic commented on #57
O checked I can confirm, we need to fix this in the GitVersion itself

[2020-03-10 19:28] djbreen7 opened #61 "GitVersion.SemVer: command not found"
The code sample below produces the error `GitVersion.SemVer: command not found`

[code]

**Workaround**
Based on other issues, rolling back to `5.1.2` fixes the issue for me.

[2020-03-11 13:54] pherbel opened #62 "'undefined' in Command line with Azure DevOps task"
Here is my setup:

[code]

This is the command line in the Azure DevOps log.

`/opt/hostedtoolcache/GitVersion.Tool/5.2.0/x64/dotnet-gitversion /home/vsts/work/1/s /output json /config /home/vsts/work/1/s/GitVersion.yml undefined`

And I got an error

[2020-03-11 14:13] arturcic commented on #62
Can you remove the
`additionalArguments: ''`
We should handle the empty value, but for now you should remove it

[2020-03-11 14:56] pherbel commented on #62
Yeah, I can, but the same result.
I just tried with an explicit empty value for a workaround

[2020-03-13 10:20] pherbel opened #65 "If you use UseDotnet task before GitVesion you will get error"
If you use UseDotnet task before GitVesion you will get error. (UseGitVersion and GitTools tasks are the same)

[code]
You will get this error:
`##[error]Error: EINVAL: invalid argument, readlink '/opt/hostedtoolcache/dotnet/dotnet'`

[2020-03-13 14:18] gojanpaolo commented on #65
Using `UseDotNet` before `UseGitVersion` is working fine on our end.

[code]

[2020-03-14 14:52] rducom commented on #57
Fixed with https://github.com/GitTools/actions/releases/tag/v0.9.2
Thanks @arturcic !

[2020-03-14 14:52] #57 closed

[2020-03-14 14:59] arturcic commented on #57
You're welcome

[2020-03-14 19:12] arturcic commented on #62
@pherbel I'm closing this one as you confirmed it's working [here](https://github.com/GitTools/GitVersion/issues/2162)

[2020-03-14 19:12] #62 closed

[2020-03-14 19:13] arturcic commented on #61
Closing as it was fixed in 5.2.2

[2020-03-14 19:13] #61 closed

[2020-03-14 19:32] djbreen7 commented on #61
Thanks @arturcic . Sorry if this was the wrong place for the bug report. Looks like the support link on the visual studio marketplace has since been updated.

[2020-03-14 19:40] arturcic commented on #43
Closing this as it was fixed in version 0.9.2

[2020-03-14 19:40] #43 closed

[2020-03-21 21:40] koppor opened #68 "Update to GitVersion 2.5.x does not work"
I am not sure whether to report here or to https://github.com/GitTools/GitVersion.

I try updating GitVersion to 2.5.0 (and 2.5.4; see https://github.com/JabRef/jabref/pull/6147).

After updating, I get that `json != json`:

    Unhandled exception. GitVersion.Exceptions.WarningException: Value 'json' cannot be parsed as output type, please use 'json' or 'buildserver'

My config is not too complex

[2020-03-22 21:21] bonesoul opened #69 "using latest dotnet core versions"
try dotnet core 3.1.200 but getting;

[code]

[2020-03-23 05:35] arturcic commented on #69
Can you use 5.x instead of 5.1.x as there  is 5.2.4 version built with SDK 3.1.200

[2020-03-23 14:15] bonesoul commented on #69
same error

[code]

[2020-03-25 15:22] asbjornu opened #76 "TypeError: (e || "").replace is not a function"
I just got [the following exception](https://github.com/SwedbankPay/swedbank-pay-magento2-checkout/pull/10/checks?check_run_id=533805711#step:5:10) while running `gittools/actions/gitversion/execute@v0.9.2`:

[code]

Any idea what might cause this?

[2020-03-25 15:25] arturcic commented on #76
I saw that error on the GitTools/actions itself when building a [dependabot] PR, but I re-run the build and it was fine

[2020-03-26 11:23] asbjornu commented on #76
Yes, re-running the build fixes the problem, but I've seen it 3 times now. Any ideas what might cause it?

[2020-03-26 11:24] arturcic commented on #76
honestly no, but we need to have a look

[2020-03-26 11:59] bonesoul opened #77 "(node:2743) UnhandledPromiseRejectionWarning: TypeError: (e || "").replace is not a function"
when using the config;

[code]
getting the error;

[code]

[2020-03-26 12:04] arturcic commented on #77
I think this is a duplicate of #76

[2020-03-26 12:04] #77 closed

[2020-03-26 12:05] bonesoul commented on #77
yes sorry for the duplicate.

[2020-03-26 12:30] asbjornu commented on #76
Is it possible to get some sort of source maps available so we get sensible line numbers and stack traces? `bundle.js:5:943` is pretty much worthless information, unfortunately.

[2020-03-26 13:12] arturcic commented on #76
It should be possible, I'll check it how

[2020-03-27 11:26] #69 closed

[2020-03-31 22:16] asbjornu commented on #68
Which version of `gittools/actions/gitversion/setup` and `gittools/actions/gitversion/execute` are you using?

[2020-04-02 11:14] koppor commented on #68
First try (2020-03-20)

- gittools/actions/gitversion/setup@v0.9
- gittools/actions/gitversion/execute@v0.9
- `versionSpec: '5.2.4'`

Second try (2020-03-21)

- gittools/actions/gitversion/setup@v0.9
- gittools/actions/gitversion/execute@v0.9
- `versionSpec: '5.2.0'`

Triedagain today (2020-04-02)

- gittools/actions/gitversion/setup@v0.9
- gittools/actions/gitversion/execute@v0.9
- `versionSpec:

[2020-04-02 11:16] arturcic commented on #68
can you use the latest version 0.9.2? can you also specify in versionSpec 5.2.x?

[2020-04-02 11:24] koppor commented on #68
I took the steps out of README.md:

![grafik](https://user-images.githubusercontent.com/1366654/78243727-8c187500-74e4-11ea-9e71-ffb02c80517c.png)

I thought that `v0.9` was an alias for the `v0.9.x` (what other extensions also do). Fixed (refs https://github.com/GitTools/actions/pull/82).

Works now.

[2020-04-02 11:24] #68 closed

[2020-04-02 11:26] arturcic commented on #68
that's the version tag so it should be explicit

[2020-04-02 11:34] koppor commented on #68
I got the idea from the checkout action

![grafik](https://user-images.githubusercontent.com/1366654/78244358-b6b6fd80-74e5-11ea-9570-a4653faf8169.png)

[2020-04-02 11:37] koppor commented on #68
OMG, for actions/cache, they fucked it up:

![grafik](https://user-images.githubusercontent.com/1366654/78245070-119d2480-74e7-11ea-8688-9dab24c6f717.png)

[2020-04-04 07:15] riverar commented on #76
Seeing this all the time in 5.1.x. In 5.2.x, I get a bit more clarity (may be unrelated).

Don't think I'm doing any particularly complex.

[code]

[code]

[2020-04-04 07:26] riverar commented on #76
Upgrading to gitversion/xxx@v0.9.2 resolved my particular issue so probably not related after all.

[2020-04-04 16:55] durutheguru commented on #76
i also began experiencing this issue quite recently. it has been happening consistently. what's weird is it was working fine before and started all of a sudden. i'm currently unable to run my builds.

`(node:3423) UnhandledPromiseRejectionWarning: TypeError: (e || "").replace is not a function
    at /home/runner/work/_actions/gittools/actions/v0.9.2/dist/github/gitversion/execute/bundle.js:5:943

[2020-04-06 15:09] asbjornu opened #86 "Version variables from GitVersion should be passed through transparently"
I noticed that when trying to access `escapedBranchName` added in GitTools/GitVersion#2157 as `steps.gitversion.outputs.escapedBranchName`, it just came out empty even though ´EscapedBranchName` was written to the console as the default JSON output.

Unless I'm mistaken, it seems like the version variables coming from GitVersion are not passed invisibly through `gittools/actions/gitversion/execute

[2020-04-06 15:10] arturcic commented on #86
What solution would you propose to have it more flexible?

[2020-04-07 00:19] asbjornu commented on #86
Just a for-loop over the exposed variables, adjusting the keys from `PascalCase` to `camelCase` would do, I suppose?

[2020-04-07 05:32] arturcic commented on #86
Interesting, I can play with the idea and see how it works

[2020-04-15 16:53] AndyCW commented on #76
I'm seeing this issue also. My config is almost exactly as in the docs:

[code]

Error details:
<code>
(node:2789) UnhandledPromiseRejectionWarning: TypeError: (e || "").replace is not a function
    at /home/runner/work/_actions/gittools/actions/v0.9.2/dist/github/gitversion/execute/bundle.js:5:943
    at s.toString (/home/runner/work/_actions/gittools/actions/v0.9.2/dist/github/gitversion/execut

[2020-04-21 12:02] mguirao commented on #38
I'm facing the same issue here because i'm using multi-checkout in pipelines : https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/multi-repo-checkout?view=azure-devops
Any update ?

[2020-04-28 12:26] bonesoul commented on #76
the issue randomly appears in my builds too

[2020-05-05 21:12] #86 closed

[2020-05-06 06:33] arturcic commented on #76
@asbjornu in version v0.9.3 I did not compress the files, in case you notice the same issue, can you put here the output?

[2020-05-06 06:34] arturcic commented on #14
@giuliov  can you check in version v0.9.3 with GitVersion versionSpec 5.3.x?

[2020-05-06 06:36] arturcic commented on #38
@mguirao can you use this extension instead? https://marketplace.visualstudio.com/items?itemName=gittools.gittools

[2020-05-06 06:36] #65 closed

[2020-05-06 06:37] arturcic commented on #65
Closing as @gojanpaolo confirmed it works

[2020-05-06 07:19] giuliov commented on #14
Ouch, can't do it easily. I dropped using AssemblyInfo.cs in favour of VersionPrefix a while ago. Also moved to native GitHub Actions instead of docker.

[2020-05-06 07:25] asbjornu commented on #76
I'll update and report back if the problem reappears, @arturcic! 👍

[2020-05-06 07:25] arturcic commented on #14
ok closing it then.

[2020-05-06 07:25] #14 closed

[2020-05-06 13:56] bmkATfs opened #107 "GitVersion Task 0.9.3 failing with Unhandled: Invalid regular expression: /*.local/: Nothing to repeat"
running on azure devops on prem:

##[debug]Evaluating condition for step: 'gitversion/execute'
##[debug]Evaluating: succeeded()
##[debug]Evaluating succeeded:
##[debug]=> True
##[debug]Result: True
##[section]Starting: gitversion/execute
==============================================================================
Task         : Execute GitVersion Task
Description  : Easy Semantic Versioning (htt

[2020-05-06 14:42] matthieupetite opened #108 "Need help to make that task available again on git hub"
Dear all, I had an issue with that task. Everything was working as expected few days ago but today I am facing a new issue on my github action.

`  "InformationalVersion":"0.2.0-contact.1+11.Branch.feature-contact.Sha.4020174ba02f00f22476726e1d8df5f0e9010d6b",
  "BranchName":"feature/contact",
  "EscapedBranchName":"feature-contact",
  "Sha":"4020174ba02f00f22476726e1d8df5f0e9010d6b",
  "ShortSha"

[2020-05-06 14:45] arturcic commented on #108
can you use versioin 0.9.3 instead?

[2020-05-06 14:50] matthieupetite commented on #108
@arturcic Thanks a lot, the upgrade does the job... Big thanks for the tips ;)

[2020-05-06 14:51] arturcic commented on #108
you're welcome. Closing

[2020-05-06 14:51] #108 closed

[2020-05-22 11:07] AndyCW commented on #76
Moving to v0.9.3 fixed this problem for me.

[2020-05-22 11:10] arturcic commented on #76
Thanks for the update, closing

[2020-05-22 11:10] #76 closed

[2020-05-26 14:10] TabithaLarkin opened #124 "$(Patch) not being populated in Azure DevOps"
Since the most recent update, the $(Patch) variable is not being populated, or is being populated as an empty string, when running the task on a new branch. It has also occurred by merging master into an existing branch, and then running that through the pipeline.

The value is being calculated by GitVersion:
[code]

Referring to it, however does not work:
[code]

[code]

[2020-05-26 17:10] mrbiggred opened #125 "AssemblyInfoFilename file not found"
When I try to update the AssemblyInfo.cs files by setting the `updateAssemblyInfo: true` I get the following error:

[code]

Might be related to this [issue](https://github.com/GitTools/GitVersion/issues/2225) on the GitVersion repo.

You can view the error in action at:

https://github.com/saturdaymp/XPlugins.iOS.BEMCheckBox/runs/710150101?check_suite_focus=true

To reproduce:

1) Create a GitHub

[2020-06-12 10:54] akordowski opened #136 "[Bug] ExecuteGitVersion Azure DevOps Task exception with multiple additional arguments"
**Describe the bug**
Using the _ExecuteGitVersion Azure DevOps Task_ with multiple additional arguments causes a exception. The multiple arguments are passed as a string in the arguments and cannot be parsed.

Using the Task with one argument works fine.

## Actual Behavior
[code]

## Steps to Reproduce
**azure-pipelines.yml**
[code]

[2020-06-22 14:46] aortega3512 commented on #38
Hi, we are having the same issue with gitVersion. We are using now GitTools and facing the same issue. If you pass a relative path it says that it doesn't exists. If it is absolute path, it concatenates the path as if it was relative.

[2020-07-01 10:39] BertelBB commented on #125
I had the same issue and I solved it by giving a relative path to the `AssemblyInfo.cs` file, using the `updateAssemblyInfoFilename` variable.

[code]

[2020-07-08 13:26] #136 closed

[2020-07-10 16:46] shieldsjared commented on #125
Same error. Dont want to have to specify a path, as I have multiple assemblies in my package that need to be updated/versioned...

[2020-07-10 16:57] shieldsjared commented on #125
A temporary workaround for this is to specify `/updateAssemblyInfo` in the **Additional GitVersion arguments** parameter of the Azure Devops Task.  (Huge thanks for this tip on another issue https://github.com/GitTools/GitVersion/issues/2225#issuecomment-624425847)

[2020-07-21 06:13] giuliov opened #158 "Action crashes on a branch with a dash '-'"
Extract of build log
[code]
Renaming the branch from `issue-142` to `issue_142` fixed.

[2020-07-31 18:51] mthamil opened #170 "Azure DevOps GitVersion does not work with non-standard branch names"
My company uses `main` as the name of the master branch and the gitversion execute task fails with the message: `Could not find a 'develop' or 'master' branch, neither locally nor remotely.`

I also tried:
[code]

but that failed.

[2020-08-03 22:55] mthamil opened #172 "gitversion/execute does not work with multi-repo checkout and a custom working directory"
I have a shared `GitVersion.yml` to use in a build template, so I have two checkout tasks: one to check out the repo with the config file, and the other to check out the repo to be built.
This creates a directory structure like so:
[code]

My `gitversion/execute` task is like the following:
[code]

Using this `targetPath` results in a doubled up path like `d:/a/1/s/d:/a/1/s/CurrentRepo` and the `.

[2020-08-06 11:26] CallumBradburyBJSS commented on #158
Having the same issue

[2020-08-08 02:58] mthamil commented on #170
I guess a custom GitVersion.yml can be used.

[2020-08-08 02:58] #170 closed

[2020-08-08 06:12] roryprimrose opened #176 "Tags not fetched in GitHub actions when following documentation"
I have the following in my github actions which is copied from the documentation in the readme (with config added).

[code]

Running the fetch step gives the following in the logs.

[code]

This isn't downloading the tags as expected and therefore generating an incorrect version.

I have updated the step to explicitly include tags.

[code]

The build now fetches the following tags and generates th

[2020-08-08 06:17] roryprimrose commented on #176
What's weird is that on another repo tags are fetched.

[code]

[2020-09-01 17:55] PeterGrace commented on #170
@mthamil did you create a custom GitVersion.yml as you mentioned here, or did you use another option?  I am now facing this same issue.

[2020-09-01 18:11] mthamil commented on #170
I created a custom GitVersion.yml, but I actually ended up just dropping this extension and using the tool directly because of #172.

[2020-09-04 12:22] #107 closed

[2020-09-17 13:40] craigjar commented on #107
Any resolution for this issue?  I have the same issue with UniversalPackages publish command.  Agent is also running behind a proxy and has a *.<domain name> entry.

[2020-09-17 14:54] bmkATfs commented on #107
I'm using GitVersion-Task Version 5 with the bundled version. Update via Proxy is not possible.....

YAML:

steps:
- task: gittools.gitversion.gitversion-task.GitVersion@5
  displayName: GitVersion
  inputs:
    updateAssemblyInfo: true
    additionalArguments: /diag

[2020-09-18 13:39] craigjar commented on #107
I found the following workaround for my issue.  Putting the following variable definition at the root of the yaml config did the trick:

[code]

[2020-09-24 19:01] robertlarkins commented on #38
@arturcic Is this still an issue? I haven't modified pipelines in a while so unsure if this issue should be marked stale.

[2020-09-25 09:53] willemduncan commented on #76
Came across this as well, please update the documentation to point to v0.9.3 (or higher). Maybe provide a tag that always points to latest version, and use that?

[2020-09-26 22:04] asbjornu commented on #176
The documentation was changed in #207 to use `fetch-depth: 0` instead. That should according to GitHub's own documentation fetch all history for all branches and tags. Does that work?

[code]

[2020-09-26 22:06] asbjornu commented on #158
Seems like a duplicate of #76. Have you tried version 0.9.4 of the action?

[2020-09-27 07:15] #124 closed

[2020-09-28 10:44] willemduncan commented on #176
That fixed the issue for me. Thanks.

_note: am not the original reporter._

[2020-09-28 17:28] kleinpetr opened #209 "Unrecognized value "steps""
When I try to use azure tasks from an example I have got this error

[code]

`/azure-pipelines.yml (Line: 35, Col: 21): Unrecognized value: 'steps'. Located at position 853 within expression: format('echo FullSemVer: $(fullSemVer) echo ##vso[build.updatebuildnumber]$(fullSemVer) echo Major: {0} echo Minor: {1} echo Patch: {2} echo PreReleaseTag: {3} echo PreReleaseTagWithDash: {4} echo PreReleaseL

[2020-09-28 20:23] asbjornu commented on #176
Thanks for the confirmation, @willemduncan. How about for you @roryprimrose?

[2020-09-29 01:08] roryprimrose commented on #176
Thanks for the update. Yep, the tags came down on a build. I'll reopen if I find it isn't working again.

[2020-09-29 01:08] #176 closed

[2020-09-29 01:12] roryprimrose commented on #209
The `##` in `echo ##vso[build.updatebuildnumber]$(fullSemVer)` is probably stuffing you up because `#` is a comment marker in yaml.

I had a similar issue a while ago and the only way I could [get it to work was a bit of a hack](https://www.neovolve.com/2019/05/03/gitversion-and-github-with-azure-devops-build-yaml/). I'd like to see a better solution.

[2020-09-30 07:04] chlumper commented on #209
I have the very same issue! Removing the first two echo lines with `$(fullSemVer)` doesn't resolve the issue, so I it's most probably not about the `#`.
[code]
GitTools version `0.9.4.2007081356` on AzureDevOps

[2020-09-30 09:08] chlumper commented on #209
I was able to get it working with the following format to reference the output variables (please be aware of the upper case variable names).
<details>
<summary>Config (without fallbacks)</summary>

[code]
</details>

Another issue is that variables (e.g. `Major`) are set to empty value instead of `0` by the task.
![image](https://user-images.githubusercontent.com/25345228/94663609-2463ab00-030a-11

[2020-10-07 12:48] asbjornu commented on #158
Can you also try with a newer version of GitVersion? The latest as of now is `5.3.7`.

[2020-10-07 12:59] asbjornu opened #213 "Deprecated set-env and add-path commands"
GitHub is [deprecating `set-env` and `add-path` commands](https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/), causing the GitVersion action to log the following warning when executed:

<img width="1443" alt="image" src="https://user-images.githubusercontent.com/12283/95333611-49799000-08ad-11eb-9360-26a886548522.png">

I'm not sure what the fix is,

[2020-10-07 13:06] asbjornu commented on #213
I was using version `0.9.2` of `gittools/actions/gitversion/execute`. Upgrading to `0.9.4` fixed the problem. 🤦‍♂️

[2020-10-07 19:31] JohnNeville commented on #213
I am not sure if it is something in our specific environment but we are actually getting the same error despite using v0.9.4 for both the setup and execute action.

![image](https://user-images.githubusercontent.com/11984108/95378470-f950fc80-08b1-11eb-837a-09b446e6dd69.png)

[2020-10-08 03:25] danstis commented on #213
I am also still getting these errors on v0.9.4

[2020-10-14 07:30] Skoucail commented on #125
Any fix for this issue?
We still have problems in version 5.3.7

[2020-10-15 17:16] Archomeda opened #220 "GitVersion: /ensureassemblyinfo support"
I had hoped that providing the additional argument /ensureassemblyinfo that GitVersion would work, but sadly it seems that the action is hardchecking the file provided in the updateAssemblyInfoFilename, effectively rendering the additional argument useless.

Would it be possible to add support for /ensureassemblyinfo without me requiring to run a custom step to create the file first?

[2020-10-23 12:56] joaoantunes commented on #38
I think this issue still happens, so it should be re-open since is not fixed right?

[2020-10-30 14:38] hallgeirl opened #236 "Missing documentation for available configuration for the Azure pipelines task"
Hi,

I'm having a hard time finding an overview of the available configuration for the Azure pipelines task for gitversion. There is one example: https://github.com/GitTools/actions/blob/master/docs/examples/azure/gitversion/index.md

Is there any documentation that I have missed? If not, it would be great if an overview of available configuration for this task. Nothing fancy is required - but a l

[2020-11-01 00:36] asbjornu commented on #213
This was fixed in GitTools/GitVersion#2422.

[2020-11-02 10:12] Shafeeqts89 commented on #236
Hi,
Same situation here, cannot find any useful documentation for azure pipeline task.

[2020-11-04 07:00] willemduncan commented on #213
The warning still shows up, using the following config:
[code]

Which results in the following output:
[code]

[2020-11-04 14:58] asbjornu commented on #213
That's weird, @willemduncan. Thoughts,  @danielmarbach?

[2020-11-04 15:08] arturcic commented on #213
@asbjornu  this could be because we use this for GH actions https://github.com/GitTools/actions/blob/02ac2511c1395a56eaaba8fc7fb3535241b3d898/src/agent/github/build-agent.ts#L171 that calls this https://github.com/actions/toolkit/blob/0759cdc2309acfd91b6503597dcfa02a3cee99d0/packages/core/src/core.ts#L51

[2020-11-04 15:40] asbjornu commented on #213
Aha, nice find @arturcic. Perhaps an upgrade of the actions toolkit is enough to get rid of the problem, then?

[2020-11-04 15:41] arturcic commented on #213
Could be

[2020-11-04 16:15] danielmarbach commented on #213
Yes, anything that uses `set-env` will trigger this warning, unfortunately.

[2020-11-04 17:30] asbjornu commented on #213
A bit strange that Dependabot hasn't submittet a PR with an upgrade that fixed this, then. Hm.

[2020-11-04 18:35] martingemme opened #239 "Adding LD_LIBRARY_PATH to use GitVersion with Linux"
According to: https://github.com/libgit2/libgit2sharp/issues/1703, running GitVersion in the Hosted Agents of Microsoft in Azure DevOps (we have our own agents, but use https://github.com/actions/virtual-environments/tree/main/images/linux which is the same base) gives me the same error.

Since it's scripted and the Hosted Agents doesn't come with GitTools pre-installed, I cannot use GitVersion on

[2020-11-05 16:08] jameswoodley commented on #213
Not sure if helpful, but just wanted to call out we're still seeing this on v0.9.4

[code]

[2020-11-05 16:14] arturcic commented on #213
Can you guys use the master instead of version 0.9.4 and say if it is fixed? If so than we need to release a new version

[2020-11-05 16:16] arturcic commented on #213
so you need to use it like this
````uses: gittools/actions/gitversion/setup@master```` and
 ````uses: gittools/actions/gitversion/execute@master````

[2020-11-05 17:06] jameswoodley commented on #213
I'm afraid not

![image](https://user-images.githubusercontent.com/52610563/98272683-42679f80-1f89-11eb-91a4-8dc9da7c9305.png)

[2020-11-05 17:08] arturcic commented on #213
can you install the latest version of gitversion? 5.5.0 or you can set just 5.x?

[2020-11-05 17:11] jameswoodley commented on #213
Same:
![image](https://user-images.githubusercontent.com/52610563/98273215-eb15ff00-1f89-11eb-8dbf-66ac96de7411.png)

[2020-11-05 17:13] arturcic commented on #213
Thank you for the input, we need to check this one

[2020-11-05 17:16] jameswoodley commented on #213
Happy to help, just shout if you need anything else

[2020-11-06 13:03] SamuelJohnsonMedia commented on #213
Doesn't look like the actions/core has been updated to include the change to `exportVariable` which is very strange.

[2020-11-06 13:14] SamuelJohnsonMedia commented on #213
I think you just need to tag the master branch as a new version (v0.9.5) as I dont think that the `@master` declaration is working properly

[2020-11-06 16:53] SamuelJohnsonMedia commented on #213
This is crazy; bumping to the new v0.9.5 didn't work either. I'm stumped

[2020-11-06 16:54] arturcic commented on #213
We need to debug and see why it's not working

[2020-11-06 19:26] SamuelJohnsonMedia commented on #213
@arturcic if you look at the dist/bundle files it seems they still reference the `issueCommand` and not the `issueFileCommand` as used in the newer @actions/core version. Could it be that they have not been compiled/built since the bump to the version?

[2020-11-06 19:28] arturcic commented on #213
Hmm, interesting, thanks for the input, hope to find some time to check it

[2020-11-06 20:05] SamuelJohnsonMedia commented on #213
I don't think the environment variables are being set anymore either; the output variables are working but not the `GitVersion_` variables it seems.

[2020-11-07 09:54] arturcic commented on #213
@SamuelJohnsonMedia you were right, I had to re-compile and push the files, I forgot that is required before releasing. I have re-created the v0.9.5 release as the previous one was broken. Can you check now the new v0.9.5 has fixed the issue?

@jameswoodley can you also confirm it was fixed in v0.9.5?

[2020-11-07 16:22] SamuelJohnsonMedia commented on #213
@arturcic Perfect, all working great now ... one thing I did have to change is that the environment variables now have to be referenced as upper case, e.g. `GitVersion_SemVer` should now be referenced as `GITVERSION_SEMVER`

[2020-11-07 21:04] arturcic commented on #213
@asbjornu can you confirm is working for you? If yes please close the issue

[2020-11-08 19:32] garyng commented on #213
Uhmmm, I'm still getting the errors on `0.9.5`...

![image](https://user-images.githubusercontent.com/4453664/98482379-ec6e5280-223b-11eb-8659-4e96bfba0fe6.png)

[code]

[2020-11-08 19:34] GiorgioBertolotti commented on #213
For me the v0.9.5 solved all the errors, thanks!

[2020-11-08 19:42] arturcic commented on #213
@garyng looks like you're using version 5.3.7. Can you install version 5.5.0 or better if you set version 5.x?

[2020-11-08 19:55] garyng commented on #213
@arturcic Updating to `5.x` works! Thanks!

[2020-11-09 11:35] asbjornu commented on #213
Excellent!

[2020-11-09 11:39] quasarea opened #245 "Release 0.9.5 broke existing gitversion tasks"
Related to https://github.com/GitTools/GitVersion/issues/2434

Arguments that were happy running on 0.9.4 are now broken on 0.9.5:
[code]
now:
[code]

[2020-11-09 11:44] adhodgson1 opened #246 "Update to GitTools task in Azure Devops broke extra command-line arguments"
Hi,
In Azure Devops we were using the GitVersion task in the following way:
[code]
This was working until Friday evening when an update to the task was pushed to the org at which point all builds are now failing. I have tried updating to 5.5.0 with no luck and changing the argument to use the / switch instead of - to be in line with all other switches being pushed. Here is an output of the failing

[2020-11-09 11:53] quasarea commented on #245
btw, are you testing new targets before releasing it?

As far as I see you don't version your task so we cannot fall back to last working version.:
![image](https://user-images.githubusercontent.com/10334982/98537973-fca92080-2281-11eb-9c95-e0ecb884488b.png)

[2020-11-09 13:02] Leosori commented on #245
The problem is caused by the enclosing quotation marks for the additional GitVersion arguments
GitVersion treats the additional arguments as one parameter and fails parsing them

Please fix this ASAP. All of our builds are currently failing

[2020-11-09 14:40] adhodgson1 commented on #246
I've worked around this by updating the task as follows:

[code]

This gives us the argument /output buildserver file which seems to give us the results before the task got upgraded last week.

[2020-11-09 14:48] adhodgson1 commented on #246
Duplicate of #245

[2020-11-09 14:48] #246 closed

[2020-11-09 14:49] adhodgson1 commented on #245
In my case the additionalArguments: '/output file' failed, a temporary workaround which works in my case since I don't need to provide any other parameters is to use additionalArguments: 'file' which works as a continuation of the tool's existing default arguments. This caused hell this morning as this template is used as the basis for most of our pipelines.

[2020-11-09 15:25] quasarea commented on #245
Ok, workaround for now is to target older version, I was wrong that they don't publish it, it's just azure is not listing it there.

I found it listed at https://github.com/marketplace/actions/use-actions?version=v0.9.4

So, just update your calls to specific version:
[code]

[2020-11-09 18:47] Leosori commented on #245
This workaround seems to work only for the YAML pipelines. I could not find a way to specify the version in the classic pipeline.

The problem from with those additional quotes was fixed with the previous 0.94 release, see bug #136  and PR #145

[2020-11-10 06:27] willemduncan commented on #213
Thank all, but please don't close this until you also update the readme: https://github.com/GitTools/actions/blob/master/docs/examples/github/gitversion/index.md Right now it still links to action `0.9.4` and  gitversion `5.3.x`.

[2020-11-10 06:57] arturcic commented on #213
@willemduncan do you mind sending us a PR with the suggested changes?

[2020-11-10 09:34] quasarea commented on #245
Nope unfortunately havent found anything for classic, I think we need to submit bug with task version dropdown not listening versions available at marketplace, but not sure where yet :)

[2020-11-10 09:57] adhodgson1 commented on #245
FWIW I haven't had any luck in pinning the version in Azure Devops using YAML pipelines, it was the first thing I really tried to do. In the Azure Devops organization settings I could only see a few versions that were deployed automatically over the weekend. Specifying those versions in the pipeline gave me an object reference not set to an instance of an object error.

[2020-11-10 10:47] arturcic commented on #245
I think the issue is caused by that PR. Even if the fix was "included" in v0.9.4 it was not compiled, that means it as working as before the fix.

I guess I will have to undo the changes from that PR and release 0.9.6 but with compiled dist files. Thoughts?

[2020-11-10 12:14] willemduncan commented on #213
Sure will do.

[2020-11-10 14:16] Leosori commented on #245
hmm, you are correct. The fix was not compiled to JavaScript for 0.94. But then I have no idea how this even worked with the previous version.

We started using this extension with version 0.94. Can't tell if version 0.93 was behaving in the same way.

I tried to dig into the code, but I'm mainly a C# developer, so I may not know all the quirks involved with TypeScript and JavaScript. Basically we

[2020-11-10 14:55] arturcic commented on #245
@Leosori that was an interesting explanation, thank you for the investigation. Do you think you could send us a PR with the suggestion?

[2020-11-10 18:04] JohanSpannare commented on #172
+1

[2020-11-10 20:05] Leosori commented on #245
@arturcic I have created PR #249

[2020-11-10 21:42] NickGraham101 commented on #172
Seeing the same issue.  gittools.gittools.execute-gitversion-task.gitversion/execute@0 works as expected if I remove the checkout tasks and targetPath

[2020-11-11 13:51] #245 closed

[2020-11-11 13:55] arturcic commented on #245
@GSDragoon do you mind checking if it works with the master version?

[2020-11-11 16:23] danielmarbach commented on #213
It seems I misunderstood how the build agent base operates. While I fixed the warning it no longer actively writes the key value pairs but just adds them to the log output. Unfortunately that was also no caught by the reviews on my PR.

@davidboike will raise a PR to fix this (we paired on it). Hopefully this time it will be fixed properly without destroying other things

[2020-11-11 18:07] GSDragoon commented on #245
Yes, my GitVersion actions worked just now targeting `master`. [link](https://github.com/GSDragoon/RadeonSoftwareSlimmer/runs/1386556304?check_suite_focus=true)

[2020-11-11 18:08] GSDragoon commented on #245
Yes, my GitVersion actions worked just now targeting `master`. [link](https://github.com/GSDragoon/RadeonSoftwareSlimmer/runs/1386556304?check_suite_focus=true)

[2020-11-12 09:22] Leosori commented on #245
can confirm, 0.96 fixed the problem for us

[2020-11-12 09:24] arturcic commented on #245
@Leosori thanks for the feedback and the input

[2020-11-13 04:54] #239 closed

[2020-11-14 17:59] chris-codeflow commented on #236
I would like to address this issue.  I will submit a PR with some examples and documentation.

[2020-11-14 18:12] arturcic commented on #236
That would be really appreciated

[2020-11-15 05:07] roryprimrose opened #252 "set-env is due to be disabled from tomorrow"
GitHub are removing the support for set-env from 16th November due to a security issue. The current version of 0.9.6 still uses this function to set the GitVersion environment variables.

[code]

[2020-11-15 05:11] roryprimrose commented on #252
I'm a little confused by why this is still an issue. The library has been updated to use `@actions.core` 1.2.6 which is supposed to fix this issue. It is still coming up in my logs however.

[2020-11-15 06:05] arturcic commented on #252
@roryprimrose please install gitversion 5.x in the setup step

[2020-11-15 06:08] roryprimrose commented on #252
That did the trick. I was matching the current documentation which points to `5.3.x`

[2020-11-15 06:08] #252 closed

[2020-11-15 09:49] chris-codeflow commented on #236
Please can you label this issue with the **documentation** label.  Thanks,

[2020-11-15 10:12] chris-codeflow commented on #125
The casing of `Filename` is also incorrect and should be changed to `FileName` to be consistent with Microsoft's naming conventions.

[2020-11-17 11:21] asbjornu commented on #213
I'm now experiencing [build failures](https://github.com/SwedbankPay/jekyll-plantuml-docker/pull/83/checks?check_run_id=1411117819#step:4:5) due to this problem, so it doesn't seem to be solved:

[code]

[code]

I suppose these are the perpetrators:

https://github.com/GitTools/actions/blob/b3e97697614c0696998c19a0f8e39defeb67b428/src/core/dotnet-tool.ts#L42-L44

https://github.com/GitTools/action

[2020-11-17 11:26] arturcic commented on #213
@asbjornu from the build logs you referenced, it is used version 0.9.3 of the actions, not the latest 0.9.6

[2020-11-17 11:39] asbjornu commented on #213
Hm, that's true @arturcic. But also really weird, as [the only thing changed in that PR](https://github.com/SwedbankPay/jekyll-plantuml-docker/pull/83/files#diff-551d1fcf87f78cc3bc18a7b332a4dc5d8773a512062df881c5aba28a6f5c48d7R28) is bumping from `0.9.3` to `0.9.6`.

[2020-11-17 11:41] asbjornu commented on #213
Oh, we probably missed updating in some places.

[2020-11-17 11:51] asbjornu commented on #213
Yep, bumping to 0.9.6 in all workflows fixed it. Sorry for the noise.

[2020-11-17 11:51] #213 closed

[2020-11-17 20:47] chris-codeflow commented on #86
I don't think this change was required for the following reasons:

- The `steps.gitversion.outputs.<variable name>` syntax is not valid in Azure Pipelines, hence why the variable couldn't be accessed (no variable can be accessed in this way in Azure Pipelines, even if you name the task `gitversion`).
- the GitVersion tool sets the task variables when the **/output buildserver** argument is passed

[2020-11-18 01:03] MarkusHorstmann opened #255 "gitversion/execute fails with error: The `set-env` command is disabled."
Workaround is to set the indicated environment variable:

    - name: Use GitVersion
      id: gitversion # step id used as reference for output values
      uses: gittools/actions/gitversion/execute@v0.9.6
      env:
        ACTIONS_ALLOW_UNSECURE_COMMANDS: true # workaround for https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/ until the execute ac

[2020-11-18 03:53] johnc-ftl commented on #255
It looks like this was fixed in 0.9.6. I just ran a github build successfully after upgrading to 0.9.6.

[code]

[2020-11-18 10:29] chris-codeflow commented on #86
Hello @arturcic and @asbjornu.  Please can you review my comment on this issue and re-open it if you agree.

[2020-11-18 19:39] atrauzzi opened #258 "Failing when run with .net 5"
I'm currently unable to use this task in github actions under .net 5, I end up with the following:

[code]

Is this in any way similar to https://github.com/GitTools/GitVersion/issues/2431 ?

[2020-11-18 19:54] arturcic commented on #258
Yes, it is

[2020-11-18 19:54] #258 closed

[2020-11-18 21:03] aborucog commented on #255
I upgraded to 0.9.6 to fix this issue, I was seeing it on both the install and execute steps. After updating installation worked, but I still got the errors during execute. The suggested workaround above got it working for me.

[2020-11-18 21:12] chris-codeflow commented on #209
The `steps...` syntax is invalid in Azure Pipelines, so all of the echo commands in the script using that syntax will result in an error.

GitVersion outputs both job-scoped (which can be accessed in subsequent steps in the same job) and multi-job output variables (which can be accessed in other jobs and stages) using the format `GitVersion.<variable>`.  The following Azure Pipelines YAML is corre

[2020-11-19 03:07] MarkusHorstmann commented on #255
@aborucog: yes, exactly the behavior I was seeing.
@johnc-ftl: My execute step was slightly different:

    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v0.9.6
      with:
          versionSpec: '5.3.2'

    - name: Use GitVersion
      id: gitversion # step id used as reference for output values
      uses: gittools/actions/gitversion/execute@v0.9.6

It looks like sett

[2020-11-19 06:20] arturcic commented on #255
@MarkusHorstmann looks like you need to set the versionSpec to 5.x, to install the latest gitversion.

[2020-11-19 19:46] johnc-ftl commented on #255
@MarkusHorstmann  - I have the `id:` line in there as well, I just removed it b/c I didn't think it was relevant.

Thank you @arturcic - it didn't occur to me that changing to `versionSpec: '5.x'` was the actual fix, but I'll take your word for it.

[2020-11-20 09:12] chris-codeflow commented on #236
@hallgeirl, please take a look at PR #264 to see if the usage examples I've added are enough.

[2020-11-20 12:28] #236 closed

[2020-11-20 13:36] gep13 commented on #209
@chris-codeflow thanks for your help in getting a PR done to cover this!  We appreciate it!

[2020-11-20 13:36] #209 closed

[2020-11-20 13:39] arturcic commented on #255
Closing

[2020-11-20 13:39] #255 closed

[2020-11-20 13:41] #38 closed

[2020-11-23 12:30] benvbr commented on #172
This issue was a duplicate from the issue #38
I've made a PR for this, which was released in the release about 2 hours ago. This should now be fixed and works with an absolute path defined as targetPath.

Grts

[2020-11-23 12:46] arturcic commented on #172
Closing based on @benvbr's comment

[2020-11-23 12:46] #172 closed

[2020-11-23 17:40] ptr727 commented on #255
This still happens with v0.9.7 and 5.3.7.
I need to use 5.3.7 because 5.5.1 does not work.

Can this be fixed in the action such that I can use v5.3 gitversion tools?

[code]

[2020-11-23 17:43] arturcic commented on #255
The issue is that GitVersion is setting the env vars itself, using the old syntax. This was fixed in latest 5.5.1 version of GitVersion.

[2020-11-23 17:44] ptr727 opened #269 "Using automatic latest version selection does not seem to work"
I do not want to keep updating my build scripts for every tool release.
I want to stick to a major version and expect no breaking changes.
If I specify a subversion I'd like the latest to be auto selected.

Works: `uses: gittools/actions/gitversion/execute@v0.9.7`
Does not work: uses: `gittools/actions/gitversion/execute@v0`
Uses an old version: uses: `gittools/actions/gitversion/execute@v0.9`

Se

[2020-11-23 17:44] arturcic commented on #255
We would better invest the time in fixing/adjusting the GitVersion itself and release a new version, instead of backporting

[2020-11-23 19:07] arturcic commented on #269
@ptr727 you could use @master instead, but I would recommend to have a specific version pinned to avoid issues with automatic targeting latest version that might not be compatible, or have a breaking change.

[2020-11-23 19:14] marvel-vella opened #270 "issue with set-env"
I have suddenly started to get this error (even with the latest version)

Error: Unable to process command '::set-env name=GitVersion_CommitDate::2020-11-23' successfully.
Error: The `set-env` command is disabled. Please upgrade to using Environment Files or opt into unsecure command execution by setting the `ACTIONS_ALLOW_UNSECURE_COMMANDS` environment variable to `true`. For more information see

[2020-11-23 19:15] arturcic commented on #270
Can you post here the way you use the actions here? setup and execute?

[2020-11-23 21:26] ptr727 opened #271 "Mainline mode does not support prerease releases in github releases"
Reference:
https://github.com/GitTools/GitVersion/issues/2211
https://github.com/GitTools/GitVersion/issues/1809

The moment there is a develop/alpha/prerelease in github releases the tool fails.
This bug prevents the ability to release prerelease builds to github.
Delete the prerelease from github releases, and the tool works again.

See:
https://github.com/ptr727/PlexCleaner/blob/develop/.github

[2020-11-24 01:30] ptr727 commented on #269
Understood for pre 1.0 release.
Would prefer to use @v1 style and get all version 1 fixes, but v1 must not break backwards compatibility.
Any breaking changes could then bump version, i.e keep @v1 and @v2 separate but both updated.

[2020-11-24 21:46] alanta commented on #270
I'm seeing the same issue. Here's my broken build: https://github.com/alanta/Kontent.Statiq/actions/runs/378424537

I tried to update to the latest version of the tasks but that doesn't help.

[2020-11-24 22:30] arturcic commented on #270
It's not enough to use the latest task, you should already install the latest gitversion version, please set the versionSpec to 5.x, and you'll get the latest tool installed

[2020-11-25 05:42] alanta commented on #270
@arturcic thanks, that solves the issue indeed.

[2020-11-25 06:38] #270 closed

[2020-11-26 06:31] arturcic commented on #271
I think the issue is not related to this repository, as the source of the issue is the gitversion tool. You already referenced the issue in that repository so closing this issue

[2020-11-26 06:31] #271 closed

[2020-11-26 13:30] fionues opened #273 "The `set-env` command is disabled."
`The `set-env` command is disabled.` now and therefore the tool cant be used at the moment.

[2020-11-26 13:31] arturcic commented on #273
Please check this one https://github.com/GitTools/actions/issues/270

[2020-11-26 13:31] #273 closed

[2020-11-30 03:56] ptr727 commented on #271
Ok, but per the comment on the other issue, it will not get fixed.
So, if GitHub Actions and GitHub Releases is a supported config, and Mainline mode is a supported config, but not together, then could you help out and offer an alternative?

[2020-12-10 11:57] quasarea opened #282 "[Bug] Cannot use output parameter due to it being hardcoded by task"
Moved from https://github.com/GitTools/GitVersion/issues/2473

**Describe the bug**
Running gitversion with /output file parameter gets overwritten. Actually it gets overwritten twice with two different parameters - json and buildserver.

[code]

## Expected Behavior
Being able to specify intended output, perhaps as parameter

## Actual Behavior
buildserver output type gets precedence over both js

[2020-12-16 17:07] Lukkian opened #291 "Support Microsoft Net 5.0"
jobs:

    build:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0 # Number of commits to fetch. 0 indicates all history for all branches and tags. Default: 1

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0.x'

    - name: Setup GitVersion
      uses: gittools/a

[2020-12-16 17:11] arturcic commented on #291
It depends on https://github.com/GitTools/GitVersion/pull/2452

[2020-12-22 10:41] arturcic commented on #291
Now that the version 5.6.0 of GitVersion was released with support for .net 5.0 the gittools actions should be able to run. Just make sure to have either the versionSpec set to `5.x` or `5.6.x`

[2020-12-22 10:41] #291 closed

[2020-12-23 12:16] asostechnix opened #293 "[Azure DevOps] Patch is calculated differently in a 'normal' cloned repo vs the Azure DevOps checkout process"
**Local (Desired behaviour)**
Local cmd line (using GitVersion v5.6.0 - installed via dotnet tool install) reports the following:

"Major":1,
"Minor":0,
"Patch":76,
"PreReleaseTag":""

**Azure DevOps**
Both gittools/execute@0 (using GitVersion v5.6.0 via gittools/setup@0) and GitVersion.Tool (using GitVersion v5.6.0 - installed via dotnet tool install) report the following in Azure DevOps:

"Major

[2020-12-29 11:31] asostechnix commented on #293
Update: I can replicate this behaviour locally if I replicate the Azure DevOps git checkout process.

**GitVersion.Tool works as expected in a 'normal' local repo:**

`git clone <my-repo-url>`
`dotnet-gitversion`

Result:
"Major":1,
"Minor":0,
"Patch":76,
"PreReleaseTag":""

**GitVersion.Tool does not work as expected in a local repo using the Azure DevOps checkout process:**

[code]
_Additional s

[2020-12-30 10:34] #293 closed

[2020-12-30 10:41] asostechnix commented on #293
Closing following further investigation:
* I think the result is actually correct based on the fact that I have no merges and I'm using Mainline mode (which is appropriate for most of our repos).
* I think the desired behaviour was actually a side effect of a tag that wasn't pushed to origin.

Still unresolved but needs further investigation so didn't seem sensible to keep editing this same issue:

[2021-01-05 18:08] arturcic commented on #269
@ptr727 I have added branch `v0` - will make sure to update it to latest changes when releasing a new version. Can you check it's working for you with `v0`?

[2021-01-05 18:08] #269 closed

[2021-01-05 22:04] manicsquirrel commented on #125
Is there any movement on this? It is still an issue.

[2021-01-09 22:52] bcochofel opened #304 "GitReleaseManager fails to install"
The github step

[code]

fails with the following error:

[code]

[2021-01-10 07:54] arturcic commented on #304
please use the latest version - v0.9.8

[2021-01-10 07:54] #304 closed

[2021-01-15 01:27] twilly86 commented on #282
+1 also looking for a way to take json output and save to a file.

[2021-01-16 11:17] Archomeda commented on #220
Hello?

[2021-01-20 21:55] ptr727 commented on #269
I can confirm `@v0` works as expected, thank you.

[2021-01-21 13:10] ftekuk opened #315 "GitVersion.RepositoryMetadataProvider.FindMergeBase(IBranch branch, IBranch otherBranch) returning null commit"
I have an Azure Data Factory repository which uses the adf_publish branch for the release. GitVersion was working successfully until we performed a hotfix on the branch from an earlier commit to the master branch.

The problem now is that GitVersion throws a null reference exception indicating the "inner" commit is null.

[code]

I have downloaded the code and added null protection to the various

[2021-01-21 13:17] arturcic commented on #315
I guess a better place will be to continue on the gitversion repo not here. I will move the issue there

[2021-01-24 20:35] chris-codeflow commented on #220
@Archomeda.  I've just submitted a PR to resolve this issue.  See PR #316.

[2021-01-24 20:41] chris-codeflow commented on #125
I've submitted a PR (see #316 ) to resolve this issue.

[2021-01-24 21:03] chris-codeflow commented on #282
@quasarea.  I looked at the **GitVersion** tool's source code and it supports setting all three output options: _json_ (output to the console), _buildserver_ (output to build server variables) and _file_ (output to file in JSON format)

In order to output to a file, you ALSO need to specify the file path of the file with the `/outputfile <path>` parameter.  For example `/output file /outputfile se

[2021-01-24 21:07] chris-codeflow commented on #282
@twilly86.  Please see my comment on how to output the **GitVersion** variables to a file in JSON format above.  Please also note that **GitVersion** only writes the output variables to a file in JSON format, no other formats are supported (at the time of writing).

[2021-01-24 21:09] chris-codeflow commented on #220
@Archomeda .  I will submit a fix for this issue.

[2021-01-25 10:27] quasarea commented on #282
@chris-codeflow you are right that there are three options, unfortunately they are exclusive and only one is used. It prioritizes `buildserver` over `file` . So if you set both `/output buildserver` and `/output file` the buildserver will be used.

The `/output buildserver` is set by task and there is no option to turn it off - therefore adding `/output file` is useless at the moment.

Additionall

[2021-01-25 10:36] quasarea opened #318 "[Feature] provide an option to choose which version type use to update Build.BuildNumber"
Currently Build.BuildNumber is updated when running GitVersion target to value of "FullSemVer"

Would be great to be able to chose variable to update to as well as disabling this option. I.e. I tend to use SemVer across the pipeline.

[2021-01-25 10:37] arturcic commented on #318
That is a good idea, but first we need to implement it in the GitVersion repo and then expose it in the actions

[2021-01-25 10:44] quasarea commented on #318
Oh, I thought that task is doing it on its own, perhaps that is why I could not find it in sources ;) thanks

[2021-01-25 12:44] chris-codeflow commented on #282
Hello @quasarea.  Thanks for your response to my comment.

I just checked the **GitVersion** tool's source code again and my understanding is that the output argument is NOT mutually exclusive and supports all three output types.  The argument parser treats the **Output** argument as a set and (the basis of my previous comment) the OutputGenerator will individually check and output if **buildserve

[2021-01-25 15:49] chris-codeflow commented on #282
Hello @quasarea.  I just ran a GitHub actions test to verify the above.  It all worked as expected (it created output variables in JSON format, it created outputs for the GitHub build agent and it output the version variables to a specified file, which I proved by displaying the contents of the file in a separate step.

Snippet from action:

[code]

See [GitHub workflow file](https://github.com/ch

[2021-01-25 16:28] chris-codeflow commented on #282
Hello @quasarea.  I forgot to say thanks for the info on the default file name (GitVersion.json).

[2021-02-02 13:21] quasarea commented on #282
thanks a lot, I somehow had to miss it, sorry

[2021-02-02 13:21] #282 closed

[2021-02-02 13:44] quasarea commented on #318
added feature request for it https://github.com/GitTools/GitVersion/issues/2580

[2021-02-05 13:38] Guilhermeslucas commented on #213
Anyone still having problem with this even after bumping to 0.9.6?

[2021-02-05 14:38] asbjornu commented on #213
@Guilhermeslucas have you also bumped `versionSpec` to i.e. `5.x`?

[2021-02-05 15:01] arturcic commented on #125
Fixed by #316

[2021-02-05 15:01] #125 closed

[2021-02-05 16:08] Guilhermeslucas commented on #213
Changing both the version and the versionSpec make it work like a charm!

[2021-02-08 03:42] #158 closed

[2021-02-08 09:31] Koch opened #330 "Issue with version 0.9.9 on Azure DevOps"
After the update to version 0.9.9, we had some issues using the action on Azure DevOps.

![image](https://user-images.githubusercontent.com/25046516/107201037-c3a35800-69f8-11eb-9447-35f9bec3c786.png)

I'm not sure if this is something we did wrong, or is it something on your end? After version pinning to 0.9.8 (lesson learned) it's working again, but wanted to check in and see if it was something

[2021-02-11 17:04] ianschmitz opened #335 "Azure pipelines GitVersion execute task can't find config file"
When using the `gitversion/execute@0` task, with `useConfigFile: true`, it throws an error that the configuration file can't be found:

![image](https://user-images.githubusercontent.com/6355370/107670575-b92acd80-6c47-11eb-8985-b0ea021c8dce.png)

However, specifying `configFilePath: "GitVersion.yml"` fixes the issue.

[2021-02-19 21:04] sakisvoutos opened #344 "Hallo world"
I'm just starting and just
Looking how everything works

[2021-02-20 05:17] #344 closed

[2021-02-20 05:19] sakisvoutos commented on #344
- - Main @sakisvoutos []()

[2021-02-23 13:03] ASarco opened #347 "gitversion/setup doesn't work in GH Actions with Ubuntu 20.04"
Since today, Github Actions started using Ubuntu 20.04 for its images.
When trying to run gitversion/setup 0.9.9 we get:

`
Command: dotnet tool install GitVersion.Tool --tool-path /tmp/github/_temp/7d617446-79ec-41c3-a31f-064119cf69ec --version 5.6.6
Error: Unable to locate executable file: dotnet. Please verify either the file path exists or the file can be found within a directory specified by

[2021-02-28 13:58] dazinator opened #351 "Already another gitversion action..?"
Has anyone seen this: https://github.com/roryprimrose/rungitversion

It was one of the first action that came up when I wanted to add a gitversion action and searched via the UI on github.com.

It looks like it uses the gitversion dotnet tool - as such I am wondering if there is any need to maintain our own action?

[2021-02-28 14:21] dazinator commented on #351
Nevermind I see that predates the official version and has some issues.

[2021-02-28 14:21] #351 closed

[2021-03-02 14:57] cveld commented on #170
How does this custom gitversion.yaml looks like? I ran gitversion.exe locally and it just runs fine.
[code]

How can I reproduce the behavior of the built-in gitversion.exe?

[2021-03-22 09:45] lassevalentini opened #370 "Error when commit message includes { or } for 5.6.4+"
We're getting errors in our build pipeline after merging a PR with a { in the name. This is resolved by downgrading GitVersion to 5.6.3.

I would guess it is related to [this code](https://github.com/GitTools/actions/blob/21f970525bdf92932571d0a9d0fa51a2404df2fa/src/tasks/gitversion/main.ts#L45).

Error message (Azure DevOps):
[code]

Output from 5.6.6:
[code]

Output from 5.6.3:
[code]

[2021-03-28 06:14] ghostelet opened #375 "AssemblyVersionAttribute not added correctly for WPF projects"
Hi,

I use the following configuration in my Azure DevOps yml build file:

[code]

When the task executes it seems `AssemblyVersionAttribute` and the likes (`AssemblyFileVersionAttribute`, etc...) are correctly added BUT without specifying the full namespace. I guess the generated output is something like this:

`[assembly: AssemblyVersionAttribute("1.0.0.0")]`

instead of

`[assembly: System.Refl

[2021-04-07 06:10] hazcod opened #381 "Azure Devops: SemVer never increments"
Hi, I have the issue where the SemVer version is never incremented.
In the logs I see:

[code]

My Azure Devops pipeline:
[code]

Which results in following log:
[code]

[2021-04-07 20:35] gaelcolas commented on #335
I concur on the issue & the work around.

[2021-04-08 15:29] Maetis opened #384 "Task gitversion/setup - Add support for --add-source"
If Nuget.org is not directly accessible by the build agent (Azure DevOps Server) and it must pass through a "proxy" like Artifactory, the task ```gitversion/setup``` fail.

It could be useful if the task could offer a parameter to specify the source (eg: ```dotnet tool install --add-source *mysource* --global GitVersion.Tool```).

[2021-04-08 15:33] arturcic commented on #384
Hi @Maetis if you can send us a PR with that I will check and merge

[2021-04-08 18:33] elendil-software opened #386 "GitVersion : /updateprojectfiles support"
Currently (v0.9.9) the action support the /updateassemblyinfo parameter.

The support of /updateprojectfiles would be appreciated

[2021-04-09 14:30] hazcod commented on #381
I was able to pinpoint this to mainline not being enabled.
Is there a way to configure this without creating a `Gitversion.yaml` ?

[2021-04-23 21:24] natescherer opened #403 "Unable to find package gitversion.tool"
Hello,
As of this afternoon, gitversion is failing to run in Actions for me. Here's the output from the action. I've made sure I'm on the latest 0.9.9 version:

[code]

Thanks!

[2021-04-30 13:18] natescherer commented on #403
Actually, this appears to be a larger issue with Actions right now.
See https://github.com/actions/setup-dotnet/issues/155 and https://github.com/actions/virtual-environments/issues/1090

I was able to work around it by adding this action before the gitversion/setup which is designed to work around this issue:
https://github.com/marketplace/actions/ensure-nuget-source

[2021-05-29 22:01] vany0114 opened #431 "System.FormatException: Input string was not in a correct format"
Hey guys, I'm getting this error, I'd appreciate your help, not sure what I'm missing.

[code]

[code]

[2021-05-31 06:54] StefanKoenigMUC opened #432 "No version calculated since a few days"
Since a few days, there is no more version calculated, when using the Gitversion Task in Azure Devops.

[code]

leads to this output:
[code]

do you have any idea what changed?

thanks in advance,

[2021-06-07 12:55] cneuwirt opened #439 "System.NullReferenceException: Object reference not set to an instance of an object."
I have a version simple azure-pipelines.yml with the following steps

steps:
  - task: gitversion/setup@0
    displayName: Install GitVersion
    inputs:
      versionSpec: '5.x'

  - task: gitversion/execute@0
    displayName: Determine Version
    inputs:
      useConfigFile: true
      configFilePath: 'GitVersion.yml'

This is resulting in the following failure on the build agent

2021-06-07T11

[2021-06-14 06:59] Funkrusha commented on #431
Since Version 5.6.10 i got the exact same error message and my build on the buildserver started to fail.
The following log shows the error occuring on Version 5.6.10

[code]

After i downgraded GitVersion to Version 5.6.9 with chocolatey the error does not happend anymore.
For now i need to stick to Version 5.6.9 to get my build finished.

[code]

[code]

[2021-06-16 15:59] kseitz10 commented on #431
I also encountered this error because I had not properly written the tag-prefix regex for our use case, so it wasn't actually matching the tags that it needed to, but it was a valid regex and valid yaml.

[2021-06-20 18:18] #370 closed

[2021-06-22 18:19] ENikS commented on #439
I think these are the [same issue](https://github.com/GitTools/GitVersion/issues/2734)

[2021-07-03 07:41] connorwyatt commented on #347
I'm seeing this exact issue too, I've pinned the ubuntu version as the OP suggested as a temporary solution as well

[2021-07-06 13:15] lassevalentini commented on #370
@arturcic I would love to get a release with the fix to this issue. Any chance of that happening? :)

[2021-07-06 13:27] arturcic commented on #370
Yes, I will create a release today

[2021-07-07 17:57] ttasharski73 opened #469 "Cannot find the .git directory with GitHub Workflow"
Command: dotnet-gitversion D:/actions-runner/_work/demoapp/demoapp /output json /output buildserver /config GitVersion.yml
D:\actions-runner\_work\_tool\GitVersion.Tool\5.6.10\x64\dotnet-gitversion.exe D:/actions-runner/_work/demoapp/demoapp /output json /output buildserver /config GitVersion.yml
INFO [07/07/21 10:30:05:23] Working directory: D:/actions-runner/_work/demoapp/demoapp
Cannot find the

[2021-07-08 01:48] #220 closed

[2021-07-08 01:48] #318 closed

[2021-07-08 01:48] #330 closed

[2021-07-08 18:10] chris-codeflow commented on #220
/reopen

[2021-07-11 21:11] hazcod commented on #381
Unstale

[2021-07-12 13:57] fabio-lonegro-deltatre commented on #469
Hey @ttasharski73 I had the same issue, my workaround is to use checkout v1 instead of v2>
[code]

[2021-07-12 14:05] ttasharski73 commented on #469
@fabio-lonegro-deltatre  I will give it a try, thanks!

[2021-07-12 14:17] ttasharski73 commented on #469
@fabio-lonegro-deltatre I think that worked! I have a new error now, but it is looking for SemVer. Thanks for the help!

[2021-07-12 14:17] #469 closed

[2021-07-12 14:20] fabio-lonegro-deltatre commented on #469
@ttasharski73  The error I have with this workaround is that even after a semver tagging, the version doesn't get updated... locally (using either the executable or the docker image) I get the expected result, while on the github agent the version is always `0.1.0-something` ... is that the same kind of error you are experiencing?

[2021-07-12 14:25] ttasharski73 commented on #469
@fabio-lonegro-deltatre haven't got there yet, that is concerning. I will give it a try. I had used this with pipelines previously and really liked it, not I am trying with Workflows which is net new for us, so expecting to run into issues.

[2021-07-15 13:14] BinToss commented on #347
Try using https://github.com/marketplace/actions/setup-nuget-exe-for-use-with-actions before the GitTools action.

[2021-07-21 20:21] IncPlusPlus opened #480 "gitversion/execute doesn't work in GH Actions with Ubuntu 20.04"
Trying to use GitVersion on Ubuntu 20.04 fails because of a missing shared library `git2-106a5f2`. This issue appears to be directly related to GitTools/GitVersion#2471 (which seems to have been fixed). My current workaround I'm using is to downgrade Ubuntu to 18.04 much like in #347.

I am using `gittools/actions/gitversion/setup@v0.9.10` with `versionSpec: '5.x'` and `gittools/actions/gitversion

[2021-07-30 04:46] #375 closed

[2021-07-30 06:50] zhelanov commented on #431
Faced the same problem in 5.6.10.
Fixed in a fresh one - 5.6.11

[2021-07-30 07:53] arturcic commented on #431
@zhelanov thanks for confirming, closing

[2021-07-30 07:53] #431 closed

[2021-08-26 20:52] wfjamesk opened #509 "Error when using gitversion/execute"
This issues has started in one of our repositories.
Other repositories use the same template and do not fail.  We are stumped as to why this single repository is failing.

Here is the template we are using:

steps:
  - task: gitversion/setup@0
    displayName: Install GitVersion
    inputs:
      versionSpec: 5.x

  - task: gitversion/execute@0
    displayName: Use GitVersion
    inputs:
      use

[2021-08-27 16:30] scphantm opened #511 "Azure Execute hangs for ~25 minutes and then fails with generic node error."
We have a pretty basic pipeline.

[code]

on some repositories, this works fine.  We normalize the master branch locally to solve some sporadic issues, copy in our default `GitVersion.yml` file and then runs gitversion.

What happens on some repos is it will hang for 25ish minutes then fail with a generic Node error.

[code]

2 issues here.

1.  Why is it failing?
2. Why is it failing in such a wa

[2021-08-31 15:10] scphantm commented on #511
We have been experimenting.  The fix to get the pipeline rolling again has nothing to do with the variable group as we thought.  It turns out its the physical commit that makes the difference.  So when this happens, even a whitespace commit to the readme file gets the pipeline rolling again.  Any idea why we can't get a log out of this thing?

[2021-09-02 20:29] dberry-rcs opened #517 "NullPointerException calculating base versions"
I am running the gitversion github action on a repo that was migrated from perforce to git. Originally there were no tags in the repo so I added them to see if it would help. No Joy.

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v0.9.10
        with:
          versionSpec: '5.x'
          includePrerelease: true
      - name: Checkout
        uses: actions/check

[2021-09-02 21:03] dberry-rcs commented on #517
same issue when I run it from the commandline

C:\Users\DBerry\Projects\rcs-shared-libs-passwordencryption>dotnet-gitversion
INFO [09/02/21 16:59:32:40] Working directory: C:\Users\DBerry\Projects\rcs-shared-libs-passwordencryption
INFO [09/02/21 16:59:32:42] Project root is: C:\Users\DBerry\Projects\rcs-shared-libs-passwordencryption\
INFO [09/02/21 16:59:32:42] DotGit directory is: C:\Users\DBer

[2021-09-03 13:02] dberry-rcs commented on #517
It works fine for main, but does not work for any of the branches

C:\Users\DBerry\Projects\rcs-shared-libs-passwordencryption>dotnet-gitversion
{
  "Major": 5,
  "Minor": 0,
  "Patch": 0,
  "PreReleaseTag": "",
  "PreReleaseTagWithDash": "",
  "PreReleaseLabel": "",
  "PreReleaseLabelWithDash": "",
  "PreReleaseNumber": null,
  "WeightedPreReleaseNumber": 60000,
  "BuildMetaData": null,
  "BuildM

[2021-09-03 16:36] dberry-rcs commented on #517
More info. Even though the branch structure was created correctly, the branches had unrelated histories with main. Shouldn't gitversion, revert to treating the branch as a single entity and still provide version info rather than an NPE because it could not find a common base version?

[2021-09-07 05:33] #403 closed

[2021-09-07 05:33] #381 closed

[2021-09-07 05:33] #335 closed

[2021-09-07 05:33] #384 closed

[2021-09-07 05:34] #386 closed

[2021-09-07 06:27] hazcod commented on #381
Unstale

[2021-09-21 21:04] pampua84 opened #536 "GitTool Action execute (Azure Devops task) overwrite my setted version"
Hello to all,
I have a net core application for which I created a classic pipeline for the build on Azure DevOps with the following tasks:
-dotnet restore
-gitversion / setup to 5.x
-gitversion / execute
-dotnet build with parameters to set dll value
-dotnet publish

the problem is that even passing to dotnet build the parameters to set the version and the file version, these parameters are not re

[2021-09-22 16:14] zs-dima opened #538 "[GitVersion] increment PreReleaseNumber for each branch separately"
GitVersion increment PreReleaseNumber for each branch separately.
Is there any way to increment PreReleaseNumber or CommitsSinceVersionSource continually instead?
I tried to use github.run_number instead, but it increment for each workflow separately ...
I using GitHub actions with GitVersion 5.x

default settings + mode=Mainline

[code]

[2021-10-04 16:59] scphantm commented on #511
we are really having a problem with this.  its bad enough where im getting pressure to pull the tool.  we show about 15% of our pipelines fail because of this error.  The problem case has expanded to include pipelines that have already worked correctly.  meaning we did the empty commit mentioned above and got it to work, then the next PR, it fails.

Any ideas here?  It really seems like node is ei

[2021-10-20 14:22] cytron201 opened #563 "[enhancement] Ability to force download of the latest GitVersion tooling in gitversion/setup@0 Azure DevOps task"
The gitversion/setup@0 pipeline task will fetch a defined version of the GitVersion tool if one is not found on the server. However it will also use whatever version it finds in the tool cache that matches the versionSpec, even if a newer version has been released.

For example: in the situation where GitVersion has previously downloaded 5.5.1, this task will continue to use that for all subsequen

[2021-11-09 01:35] luke-barnett opened #570 "GitVersion.yml is not correctly set as default if useConfigFile == true"
As per examples: https://github.com/GitTools/actions/blob/main/docs/examples/azure/gitversion/execute/usage-examples.md

We should be able to set:

[code]

as an equivalent to:

[code]

However, the default doesn't seem to be set, and you need to explicitly set configFilePath.

[2021-11-10 17:10] dariusz-wozniak opened #574 "Displaying all calculated variables don't work"
When I use script from the Example 5 [(link)](https://github.com/GitTools/actions/blob/main/docs/examples/azure/gitversion/execute/usage-examples.md):

[code]

Variables are not substituted.

Full output in Azure is:

[code]

[2021-11-10 17:51] dariusz-wozniak commented on #574
Works now.

Surprisingly, I could not use `useConfigFile` & `configFilePath` along with the `additionalArguments`:

[code]

With the above task, variables are not set.

The below task works fine:

[code]
    - task: gitversion/execute@0
      displayName: Determine version
      inputs:
        useConfigFile: true
        configFilePath: GitVersion.yml
[code]

[2021-11-10 18:16] dariusz-wozniak commented on #574
I closed the issue, but I believe the above should be fixed; thus, I reopen the issue.

[2021-11-11 21:24] mirandaasm opened #575 "Build tasks are spamming warnings on the pipelines (started recently)"
These build tasks started to spam some warnings on my pipelines (all running on Azure DevOps Services):

##[warning]This task uses Node 6 execution handler, which will be deprecated soon. If you are the developer of the task - please consider the migration guideline to Node 10 handler - https://aka.ms/migrateTaskNode10. If you are the user - feel free to reach out to the owners of this task to pro

[2021-11-12 14:20] charleszipp commented on #575
Here's screenshot. This started happening for my task as well. The upgrade steps were pretty straight forward
![image](https://user-images.githubusercontent.com/4292559/141481676-88488fcd-7d12-429a-9248-5b0568d768cc.png)

[2021-11-12 14:21] arturcic commented on #575
I'm going to release a new version soon. I would ask you both when it's available to confirm it's fixed

[2021-11-12 15:50] arturcic commented on #575
There should be a new version published, please check and please tell me if that fixed the warnings

[2021-11-12 15:53] charleszipp commented on #575
confirmed resolved for me

[2021-11-12 16:11] mirandaasm commented on #575
same here. resolved for me. 😄

[2021-11-12 16:12] arturcic commented on #575
Closing as resolved in v 0.9.11

[2021-11-12 16:12] #575 closed

[2021-12-02 05:45] mt22321 opened #588 "##[warning]This task uses Node 6 execution handler, which will be removed March 31st 2022. If you are the developer of the task - please consider the migration guideline to Node 10 handler - https://aka.ms/migrateTaskNode10 (check this page also if you would like to disable Node 6 deprecation warnings). If you are the user - feel free to reach out to the owners of this task to proceed on migration"
Getting this warning message in azure devops pipeline. Please advise.

[2021-12-02 06:15] arturcic commented on #588
Please check #575

[2021-12-02 06:15] #588 closed

[2021-12-14 06:48] KairaMiu commented on #347
Same issue here.

Thanks @ASarco for the workaround.

[2021-12-20 12:34] johnkors opened #599 "Automated CVE issue for 0.9.7"
Is this kinda automated issue pushing coming from this team, or is this an independent developers work? And is this a verified vulnerability you are aware of?

The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) upgrade of vulnerable dependency
(3) fix to secret leak and others.
Please consider to update the reference to the action.

https://github.com/fpl

[2022-03-02 10:33] #439 closed

[2022-03-12 11:52] sergey-s-betke opened #636 "Add ability for cache GitVersion for GitHub actions"
Please, add ability for cache GitVersion for GitHub actions.

[2022-03-12 14:38] arturcic commented on #636
Could you describe how the cache should be working in this case?

[2022-03-12 22:55] sergey-s-betke commented on #636
May be, cache GitVersion binary files. Key for cache - specified GitVersion version.

[2022-03-28 04:24] TheMagnificent11 opened #647 "Having trouble using gittools/actions/gitversion/execute@v0.9.13 for Node.JS pipeline"
I've got the following GitHub action.

[code]

This is the contents of `GitVersion.yml`
[code]

This is the error I get when running the GitHub action.
[code]

This same GitVersion action code works in another repository where the source being built is .Net 6.

[2022-04-16 12:45] #480 closed

[2022-04-16 12:45] #509 closed

[2022-04-16 12:45] #517 closed

[2022-04-16 12:45] #538 closed

[2022-04-16 12:45] #511 closed

[2022-04-16 12:45] #536 closed

[2022-04-16 12:45] #563 closed

[2022-04-16 12:45] #570 closed

[2022-04-16 12:45] #574 closed

[2022-04-16 17:25] zs-dima commented on #538
Any updates are welcome

[2022-04-27 13:52] zs-dima opened #660 "[GitVersion] increment PreReleaseNumber for each branch separately"
GitVersion increment PreReleaseNumber for each branch separately.
Is there any way to increment PreReleaseNumber or CommitsSinceVersionSource continually instead?
I tried to use github.run_number instead, but it increment for each workflow separately ...
I using GitHub actions with GitVersion 5.x

default settings + mode=Mainline

runs:
  using: "composite"
  steps:
    - uses: gittools/actions/gi

[2022-05-26 13:10] haydenhancock opened #679 "Projects Targeting Microsoft.NET.Sdk.Worker Sdk"
Not sure if this is an actual issue or not but we have a project that is targeting .NET Core 3.1 (e.g. `netcoreapp3.1`). The project file is using the `Microsoft.NET.Sdk.Worker` Sdk and the assembly version is not being added to the file when running `gitversion /updateprojectfiles`.

A stripped down version of the `.csproj` file is below:

[code]

Should GitVersion be able to version these types

[2022-06-09 10:28] walliski opened #691 "[Improvement] Allow for "Always check for new version" for AzDo task"
In scenarios where running self-hosted agents in Azure DevOps, and the agents are reused between jobs, later jobs will get the wrong version installed.

- Build agent installs GitVersion with specific version `5.1`, in job A.
- After Job A is finished, Job B starts on the same build agent.
- Job B requests GitVersion `5.x`, which "5.1" will satisfy, meaning that the job does not get the latest ver

[2022-08-27 22:32] asbjornu commented on #691
This sounds more like an AzDO configuration issue than a GitVersion issue. Having a clean working directory is a prerequisite for GitVersion to be able to accurately generate a version. It is possible to ignore the cache with the `/nocache` argument, though. Have you tried that?

[2022-08-29 08:22] walliski commented on #691
Not related to the working directory to where it runs or GitVersion functionality, but to the tool installation folder/cache in AzDo agents and the way that the AzDo Task installs GitVersion.

[2022-09-01 11:14] asbjornu commented on #691
I see, @walliski. Do you know whether we can control the caching/reuse of different installed versions of GitVersion within AzDO, @arturcic?

[2022-09-01 11:29] arturcic commented on #691
This is the generic code that does the GitVersion.Tool installation - https://github.com/GitTools/actions/blob/416cbc1c2375b1f356f475f52f3eaf0953898b50/src/core/dotnet-tool.ts#L204. This is a generic code that has 2 implementations - one for [AzDO ](https://github.com/GitTools/actions/blob/416cbc1c2375b1f356f475f52f3eaf0953898b50/src/agent/azure/build-agent.ts#L33) and the other for [Github Action

[2022-09-08 07:19] RichardMays opened #730 "SyntaxError: Unexpected end of JSON input"
Hi

We have been using the GitTools task in Azure DevOps happily for over 2 years and it has been working great. Then all of a sudden a few days ago it has started failing with the following error: "**SyntaxError: Unexpected end of JSON input**".

Strangely the error seems to only occur in any newly created pipelines, any existing pipelines (prior to a few days ago) in the same repo/branch, it car

[2022-09-08 10:26] EwanNoble commented on #730
We are getting exactly the same with new pipelines, existing pipelines continue to work

[2022-09-08 10:31] RichardMays commented on #730
Yes, it is very odd. I raised a ticket with MS, they pointed me here. But this task has not changed (at least in version number!), so I am not convinced it is not something that MS have tweaked that has made GitVersion unhappy. But so far I am not closer to getting a resolution, and we have had to stop using GitVersion for now.

[2022-09-08 10:37] EwanNoble commented on #730
@RichardMays It appears to be an Azure DevOps change, new pipelines are now defaulting to Shallow Fetch = 1 on Github checkouts, if disable shallow fetch this should unblock you

[2022-09-08 10:50] RichardMays commented on #730
Awesome, that is it. Thanks for the info, I have now got it to work. I shall drop MS an email back.

Thanks again :)

[2022-09-11 20:25] asbjornu commented on #730
As discussed in https://github.com/GitTools/GitVersion/issues/2690 and https://github.com/GitTools/GitVersion/issues/3081, these problems are still occurring and I believe the core issue is that the AzDO task and GitHub Action does not properly deal with GitVersion itself crashing and instead always expecting valid JSON to be output to `stdout`.

When GitVersion crashes for various reasons (increa

[2022-09-12 11:25] kenta2097 opened #732 "Applying for GitHub publisher verification for "GitTools" Action."
I’m writing regarding the GH Action [GitTools
](https://github.com/marketplace/actions/gittools)

Our project is starting to migrate the CI/CD to GH Actions and we are interested to use your Actions.
Providing some context, our Security team requires the "Creator Verified by GitHub" badge to start the internal GHA verification process, due to this we are blocked to use unverified Actions.

We woul

[2022-09-12 11:56] arturcic commented on #732
Good suggestion, I will check how to do that, thanks

[2022-09-15 13:07] seanarmstrong87 opened #735 "Null Reference Exception"
I am using the azure pipeline task, in a linux pipeline.

These are my setup and execute tasks:

[code]

Output of the setup task is:
[code]

This is the error I get on the execute task:

[code]

If I use this instead for the execute task then it works but none of the environment variable are found:

[code]

Is anyone able to help with this problem?

[2022-09-15 14:43] seanarmstrong87 commented on #735
I tried using the command line tool inside the pipeline instead setup like this:

[code]

But get the same error:
[code]

[2022-09-15 15:15] seanarmstrong87 commented on #735
FYI I got this working in the end by adding fetchDepth to the checkout command
[code]

[2022-09-15 15:15] #735 closed

[2022-09-15 15:19] arturcic commented on #735
@seanarmstrong87 do you mind adding this to the examples in the docs? So that it's clear we need to fetch the entire history, thanks

[2022-09-16 06:47] seanarmstrong87 commented on #735
There is a PR there with a note added to the docs. I am not familiar with github PR process so hope it's ok

[2022-09-27 08:28] paveldayneko commented on #732
Very much support, We've been using your tool actively in AzureDevops and now due to GH Actions we can't do that anymore. There is no any dicent alternative.

[2022-09-27 08:30] arturcic commented on #732
@asbjornu can you check this one? Can we apply for a publisher verification?

[2022-09-27 09:02] asbjornu commented on #732
For some reason, it doesn't look like we have any GitHub Apps registered by the organization?

<img width="944" alt="There must be 1 or more GitHub/OAuth App registered by the organization to request publisher verification" src="https://user-images.githubusercontent.com/12283/192482697-06fef5c9-27fe-41ff-bd0c-7335e8ed0455.png">

[2022-09-27 09:03] arturcic commented on #732
we have only a GitHub Action

[2022-09-27 09:07] asbjornu commented on #732
I know. But we can't verify the GitTools organization without overcoming this hurdle somehow.

[2022-09-28 08:03] kenta2097 commented on #732
Hi @arturcic @asbjornu

We appreciate that the conversation regarding the verification process is started from your side.
Seems the Oauth app register is pretty straightforward
https://docs.github.com/en/developers/apps/building-oauth-apps/creating-an-oauth-app

Cheers

[2022-09-28 13:04] asbjornu commented on #732
@kenta2097 registering an OAuth App seems trivial enough, but we have no app to register. We don't want to register an app and give anyone the impression that we have an OAuth App that can be installed and used by anyone, since no such app exists.

[2022-10-10 13:36] samsmithnz opened #748 "Build warning about node12"
I've started receiving the following warning in GitHub Actions when using these actions:

[code]

This is running on `ubuntu-latest`, although it's not consistent - the warning must still be rolling out. Any plans to update this action to 16?

[2022-10-10 14:52] arturcic commented on #748
het @samsmithnz do you mind filling in a PR with the needed updates? Please update all the action.yml files https://github.com/GitTools/actions/search?q=node12, Thanks

[2022-10-10 23:06] samsmithnz commented on #748
@arturcic: I will try. Are there tests I can run too? I admit I'm not that familiar with the internals of the project - an avid user though!

[2022-10-11 08:21] #748 closed

[2022-10-11 10:35] samsmithnz commented on #748
@arturcic any idea when there will be another release of this action? There are roughly ~100 closed and merged pull requests since the last release in March...

[2022-10-11 10:36] arturcic commented on #748
I will make the release today, hopefully

[2022-10-11 16:19] arturcic commented on #679
This one should be covered, https://github.com/GitTools/GitVersion/issues/2890

[2022-10-11 16:19] #679 closed

[2022-10-11 16:19] #599 closed

[2022-10-25 11:32] patriziobrunops opened #758 "flood of `set-output` deprecation warnings"
My workflow summaries are getting flooded by the above message, which is muddling the workflow summary making it difficult to read. I'm using `gittools actions` version `0.9.14`, which seem to be using `@actions/core v1.10.0` as indicated by the blog post :thinking:

[2022-10-25 12:11] arturcic commented on #758
@patriziobrunops is your workflow public? overwise can you post the part of the workflow starting with checkout up to the gittools actions?

[2022-10-25 12:17] patriziobrunops commented on #758
[code]

[2022-10-28 18:12] vktr commented on #758
I also have the same behavior in my actions.

Build output: https://github.com/porla/core/actions/runs/3347499683/jobs/5545550773 (check the _Install GitVersion_ and _Calculate version_ steps).

Workflow: https://github.com/porla/core/blob/main/.github/workflows/ci.yaml

[2022-10-28 19:43] arturcic commented on #758
@patriziobrunops, @vktr fixed in version 0.9.15, ca you confirm?

[2022-10-28 19:43] #758 closed

[2022-10-28 22:44] vktr commented on #758
@arturcic Confirmed - thanks!

[2022-11-23 07:55] marvel-vella opened #768 "gitversion/setup doesn't work in GH Actions with ubuntu-22.04"
Run gittools/actions/gitversion/execute@v0.9.15
Command: dotnet-gitversion /home/runner/work/TravelPoint.Api/TravelPoint.Api /output json /output buildserver
/opt/hostedtoolcache/GitVersion.Tool/5.5.0/x64/dotnet-gitversion /home/runner/work/TravelPoint.Api/TravelPoint.Api /output json /output buildserver
You must install or update .NET to run this application.

App: /opt/hostedtoolcache/GitVersion

[2022-11-23 08:12] arturcic commented on #768
@marvel-vella do you also have a  gittools/actions/gitversion/setup@v0.9.15 there? you should install version 5.11.1 instead, as you have a pretty old version - 5.5.0